<div class="app-container">
    <div class="stopwatch-container">
        <div class="timer-container">
            <app-simple-timer [time]="stopwatchTime"
                              [blinkInterval]="timerBlinkInterval"></app-simple-timer>
        </div>
        <div class="buttons">
            <app-play-button class="button"></app-play-button>
            <app-button class="button"
                        #addRecordButtonComponent
                        [icon]="iconTimer"
                        (click)="onAddStopwatchRecordClick()"></app-button>
            <app-button class="button"
                        [icon]="iconTrash"
                        (click)="onResetStopwatchClick()"></app-button>
        </div>
    </div>
    <app-stopwatch-records></app-stopwatch-records>
</div>
