.app-container {
  max-width: 500px;
  margin: 0 auto;
}

.stopwatch-container {
  display: block;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  .timer-container {
    padding: 40px;
    text-align: center;
  }

  app-simple-timer {
    color: green;
    border-radius: 1rem 1rem 0 0;
    font-size: 4rem;
  }

  .buttons {
    background: #fff;
    color: #333;
    border-radius: 0 0 1rem 1rem;
    display: flex;

    .button {
      padding: 1rem 0.5rem;
    }

    app-play-button {
      flex: 2;
    }

    app-button {
      flex: 1;
    }
  }
}

app-stopwatch-records {
  display: block;
  color: #fff;
  font-size: 2rem;
}
