/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'digifont';
  src: url('assets/font/digital-7.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #333;
}
